/* Apply background color to the TreeTableView */

/* Style for the header of the TreeTableView */

.tree-table-view .column-header .label {
    -fx-text-fill: #807878; /* White text for headers */
    -fx-font-weight: bold;
}
.tree-table-row-cell.column-header{

    -fx-border-color: #aca5a5;

}
.tree-table-cell {
    -fx-alignment: center;

}

.tree-table-row-cell {
    /*-fx-border-color: #aca5a5;*/
    /*-fx-border-width: "thin";*/
}

/* Style for odd and even rows */



.tree-table-view .tree-table-row-cell. :hover td{
    -fx-background-color: #aa2828;
    -fx-padding: 10%;
    -fx-text-alignment: center;

}



/* Customize selected row */


/* Customize specific cell */
.tree-table-view .tree-table-cell {
    -fx-alignment: center;
    -fx-padding: 10%;
    -fx-border-width: 0;
}

